* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
position: relative;
scroll-behavior: smooth;
}

html {
    font-size: 16px;
}

body {
    width: 100%;
    min-height: 100dvh;
    background: rgba(6, 23, 30, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 160px 26px;
}

h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 56px;
    font-family: "Figtree";
    font-style: normal;
    font-weight: 800;
    padding-bottom: 120px;
}

.photo-box-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.photo-button {
    background-color: transparent;
    border-style: none;
    border-radius: 20px;
}

.header-top {
    width: 100%;
    height: 80px;
    background: rgba(9, 33, 42, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 0px 30px;
}

.header-content > h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    font-family: "Figtree";
    font-style: normal;
    font-weight: 800;
}

.img {
    width: 160px;
    height: 160px;
    border: 3px solid black;
    border-radius: 20px;
    object-fit: cover;
}

.img:hover {
    border: 3px solid rgb(56, 111, 156);
}

#myDialog {
    background: #09212A;
    border-radius: 40px;
    width: 680px;
    margin: auto;
}

#myDialog.opened {
    background: #09212A;
    border-radius: 40px;
    width: 680px;
    margin: auto;
}

#myDialog::backdrop {
    opacity: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.4);
}

#myDialog.opened::backdrop {
    opacity: 1;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.4);
}

.event-protection {
    height: 100%;
    width: 100%;
    padding: clamp(32px, calc(26.452px + 1.913vw), 54px) clamp(16px, calc(3.896px + 4.174vw), 64px);
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 48px;
}

.dialogDescr {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-family: "Figtree";
    font-style: normal;
}

.dialogBtn {
    height: 32px;
    width: 32px;
    background: #09212A;
    border-radius: 50%;
}

.dialogBtn:hover {
    background: #124658;
}

.dialogBtn > img {
    height: 13px;
    width: 13px;
}

.dialog-content {
    width: 100%;
    max-width: 600px;
    height: 450px;
    padding-bottom: 48px;
}

.dialog-content img {
    width: 100%;
    max-width: 560px;
    height: 100%;
    max-height: 600px;
    object-fit: contain;
}

.dialog-footer {
    width: 100%;
    display: flex;
}

.diaFootTemp {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 48px;
}

.arrows {
    width: 60px;
    height: 60px;
    background-color: rgba(253, 91, 79, 0.1);
    border-radius: 50%;
    border: none;
    img {
        width: 22px;
        height: 19px;
        object-fit: cover;
    }
}

.arrows:hover {
    background-color: rgba(253, 91, 79, 0.2);
    cursor: pointer;
}

.dialogFooter-P {
    color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    font-family: "Figtree";
    font-style: normal;
}

.footer {
    width: 100%;
    height: clamp(103px, 20dvw ,128px);
    background: rgba(9, 33, 42, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    bottom: 0;
}

.footer-upper-part {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    gap: 10px;
}

.footer-upper-part h4 {
    font-family: "Figtree";
    font-style: normal;
}

@media screen and (max-width: 1100px) {
    .main-content {
        padding: 80px 16px;
    }

    h1 {
        padding-bottom: 80px;
    }
    
}

@media screen and (max-width: 740px) {
    .main-content {
        padding: 40px 16px;
    }

    h1 {
        font-size: 48px;
        display: flex;
        text-align: center;
        padding-bottom: 40px;
    }    
}

@media screen and (max-width: 600px) {
    .dialog-header {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .dialogBtn {
        align-self: flex-end;
    }
}

@media screen and (max-width: 385px) {
    h1 {
        font-size: 38px;
    }

    .img {
        width: 150px;
        height: 150px;
    }
}